body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 16px;
}

#calculator {
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: blue;
  height: 600px;
  width: 500px;
  border-radius: 10px;
  align-items: center;
  z-index: 0;
}

/* #calculator_screen {
  background-color: gray;
  height: 100px;
  width: 375px;
  z-index: 1;
  font-size: 64px;
  border-radius: 10px;
  margin-bottom: 50px;
} */

.clear {
  font-size: 64px;
  padding: 8px;
  height: 70px;
  border-radius: 5px;
  
}

#equal_button {
  font-size: 64px;
  padding: 8px;
  height: 70px;
  width: 140px;
  border-radius: 5px;
}

input {
  background-color: gray;
  height: 100px;
  width: 375px;
  z-index: 1;
  font-size: 64px;
  border-radius: 10px;
  margin-bottom: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.inputs {
  font-size: 64px;
  padding: 8px;
  height: 70px;
  border-radius: 5px;
  
}

#number_buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: start;
  grid-gap: 16px;
}

.operator {
  font-size: 64px;
  padding: 8px;
  height: 70px;
  border-radius: 5px;
}

#operator_buttons {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}